{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu des pizzas</title>
    <link rel="stylesheet" href="{% static 'menu/style.css' %}">
</head>
<body>
    <a href="{% url 'main:index' %}">
        <img id="logo" src="{% static 'menu/images/small_logo.png' %}" alt="logo">
    </a>
    <div class="menu_title">
        <h1>Les pizzas</h1>
    </div>
    <div class="menu_list">
        {% for pizza in pizzas %}
            <div class="menu_list_item">
                <span class="menu_list_title">{{ pizza.name }}</span>
                <span class="menu_list_price">{{ pizza.price | floatformat:2 }}€</span>
                <div class="menu_list_ingrdients">{{ pizza.ingredients }}</div>
                {% if pizza.vegetarian == True %}<div class="menu_list_vegetarian">Végétarienne</div>{% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>